.container__banner {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 270px;
    margin-bottom: 1em;
}

.container__banner-bottom {
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 338px;
    margin: 1em 0;
}

/* Banner home */
.banner__home {
    background-image: url('../assets/img/code_chella_banner-home--mobile.jpg');
}

.banner__home-bottom {
    background-image: url('../assets/img/code_chella_banner-home--bottom_mobile.jpg');
}

/* Banner experience */
.banner__experience {
    background-image: url('../assets/img/code_chella_banner-experience--mobile.jpg');
}

/* Banner maps */
.banner__maps {
    background-image: url('../assets/img/code_chella_banner-maps--mobile.jpg');
}

/* Banner information */
.banner__information {
    background-image: url('../assets/img/code_chella_banner-information--mobile.jpg');
}

@media screen and (min-width: 600px) {
    .container__banner {
        height: 384px;
    }
    
    .container__banner-bottom {
        height: 338px;
    }

    /* Banner home */
    .banner__home {
        background-image: url('../assets/img/code_chella_banner-home--tablet.jpg');
    }

    .banner__home-bottom {
        background-image: url('../assets/img/code_chella_banner-home--bottom_tablet.jpg');
    }
    
    /* Banner experience */
    .banner__experience {
        background-image: url('../assets/img/code_chella_banner-experience--tablet.jpg');
    }

    /* Banner maps */
    .banner__maps {
        background-image: url('../assets/img/code_chella_banner-maps--tablet.jpg');
    }

    /* Banner information */
    .banner__information {
        background-image: url('../assets/img/code_chella_banner-information--tablet.jpg');
    }
}

@media screen and (min-width: 900px) {
    .container__banner {       
        height: 407px;   
    }

    .container__banner {       
        height: 338px;   
    }

    /* Banner home */
    .banner__home {
        background-image: url('../assets/img/code_chella_banner-home--desktop.jpg');
    }

    .banner__home-bottom {
        background-image: url('../assets/img/code_chella_banner-home--bottom_desktop.jpg');
    }

    /* Banner experience */
    .banner__experience {
        background-image: url('../assets/img/code_chella_banner-experience--desktop.jpg');
    }

    /* Banner maps */
    .banner__maps {
        background-image: url('../assets/img/code_chella_banner-maps--desktop.jpg');
    }

    /* Banner information */
    .banner__information {
        background-image: url('../assets/img/code_chella_banner-information--desktop.jpg');
    }
}
