.container__event_image_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

.event__image {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 90%;
    height: 380px;
    position: relative;
    border-radius: 1em;
}

.event__description {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 90%;
    align-items: center;
    row-gap: 2em;
}

.event__description-title {
    font-weight: 700;
    font-size: 32px;
    max-width: 420px;
    color: var(--grey);
    text-align: center;
}

.event__description-text {
    font-weight: 500;
    font-size: 20px;
    max-width: 500px;
    color: var(--grey);
    text-align: center;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    .container__event_image_description {
        flex-direction: row;
        justify-content: center;
    }

    .event__image {
        width: 620px;
    }

    .event__description {
        width: 620px;
    }
}
