.container__information {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0;
}

.event__image {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 90%;
    height: 380px;
    position: relative;
    border-radius: 1em;
}

.container__more-details .container__information { 
    margin: 1em;
}

.container__more-details .event__image {
    height: 240px;
}

/* for home page*/
.event__image-home {
    background-image: url('../assets/img/code_chella_picture-event--mobile.svg');
}

/* for experience page*/
.event__image-accessibility {
    background-image: url('../assets/img/code_chella_picture-accessibility--mobile.svg');
}

.event__image-sustainability {
    background-image: url('../assets/img/code_chella_picture-sustainability--mobile.svg');
}

.event__image-attractions {
    background-image: url('../assets/img/code_chella_picture-attractions--mobile.svg');
}

/* for maps page*/
.event__image-sector {
    background-image: url('../assets/img/code_chella_picture-sector--mobile.svg');
}

.event__image-premium--dance_flor {
    background-image: url('../assets/img/code_chella_picture-premium_dance_flor--mobile.svg');
}

.event__image-chairs {
    background-image: url('../assets/img/code_chella_picture-chairs--mobile.svg');
}

.event__description {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    width: 90%;
    align-items: center;
    row-gap: 2em;
}

.event__description-title {
    font-weight: 700;
    font-size: 32px;
    max-width: 420px;
    color: var(--grey);
    text-align: center;
}

.event__description-text {
    font-weight: 500;
    font-size: 20px;
    max-width: 500px;
    color: var(--grey);
    text-align: center;
    line-height: 40px;
}

.button__event-ticket {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    width: 75%;
    max-width: 252px;
    padding: 1em 2em;
    border-radius: 1em;
    background-color: var(--primary-blue);
    box-shadow: 4px 4px 0px 0px var(--grey);
}

.button__event-ticket:hover {
    background-color: var(--secondary-blue);
}

.button__event-ticket--text {
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
}

.container__map {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 4em;
}

.event__map-image {
    width: 360px;
    height: 360px;
    background-image: url('../assets/img/code_chella_figure-map--mobile.svg');
}

.container__map-label {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 2em;
}

.map__label-title {
    font-weight: 700;   
    font-size: 20px;
    color: var(--grey);
    margin: 2em 0;
}

.map__label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.map__label-sector {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.map__label-sector--text {
    font-weight: 500;
    font-size: 20px;
    color: var(--grey);
    margin-left: 16px;
    text-align: center;
    align-self: center;
}

.sector__label {
    padding: 16px;
}

.label__color-blue {
    background-color: #0E7DF1;
}

.label__color-pink {
    background-color: #FE016E;
}

.label__color-green {
    background-color: #01A89E;
}

.label__color-dark--blue {    
    background-color: #3F51B5;
}

.container__main-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__more-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.more__details-title {
    font-weight: 700;
    font-size: 32px;
    color: var(--grey);
    text-align: center;
}

@media screen and (min-width: 600px) {
    /* for home page*/
    .event__image-home {
        background-image: url('../assets/img/code_chella_picture-event--tablet.svg');
    }

    /* for experience page*/
    .event__image-accessibility {
        background-image: url('../assets/img/code_chella_picture-accessibility--tablet.svg');
    }

    .event__image-sustainability {
        background-image: url('../assets/img/code_chella_picture-sustainability--tablet.svg');
    }

    .event__image-attractions {
        background-image: url('../assets/img/code_chella_picture-attractions--tablet.svg');
    }

    /* for maps page*/
    .event__map-image {
        width: 650px;
        height: 610px;
        background-image: url('../assets/img/code_chella_figure-map--tablet.svg');
    }

    .event__image-sector {
        background-image: url('../assets/img/code_chella_picture-sector--tablet.svg');
    }

    .event__image-premium--dance_flor {
        background-image: url('../assets/img/code_chella_picture-premium_dance_flor--tablet.svg');
    }

    .event__image-chairs {
        background-image: url('../assets/img/code_chella_picture-chairs--tablet.svg');
    }
}

@media screen and (min-width: 1200px) {
    .container__information {
        flex-direction: row;
        justify-content: center;
    }

    .event__image {
        width: 620px;
    }

    .event__description {
        width: 620px;
    }

    /* experience page*/
    .container__information-row--reverse {
        flex-direction: row-reverse;
    }

    /* for maps page*/
    .container__map {
        flex-direction: row;
        justify-content: center;
        margin-right: 10em;
    }

    .event__image-map {
        width: 690px;
        height: 610px;
        background-image: url('../assets/img/code_chella_figure-map--desktop.svg');
    }

    .container__more-details {
        flex-direction: row;
        align-items: flex-start;
        height: 680px;
    }

    .maps__information {
        flex-direction: column;
        margin: 0;
        max-width: 400px;
    }

    .maps__information .event__description {
        max-width: 400px;
    }

    .maps__information-middle {
       align-self: flex-end;
    }
}
